BITS={{ taskd_selfsigned_bits }}
EXPIRATION_DAYS={{ taskd_selfsigned_expiration_days }}
ORGANIZATION="{{ taskd_selfsigned_organization }}"
CN={{ taskd_selfsigned_cn }}
COUNTRY={{ taskd_selfsigned_country }}
STATE="{{ taskd_selfsigned_state }}"
LOCALITY="{{ taskd_selfsigned_locality }}"